global
  log stdout format raw daemon
  maxconn 2000
  stats socket /tmp/haproxy.sock mode 600 level admin
  ssl-default-bind-ciphers ECDHE+AESGCM:DHE+AESGCM:ECDHE+CHACHA20:DHE+CHACHA20:!aNULL:!MD5:!DSS
  ssl-default-server-ciphers ECDHE+AESGCM:DHE+AESGCM:ECDHE+CHACHA20:DHE+CHACHA20:!aNULL:!MD5:!DSS
  ssl-default-bind-options ssl-min-ver TLSv1.2

defaults
  mode tcp
  log global
  option tcplog
  timeout connect 5s
  timeout client 50s
  timeout server 50s

frontend redis_tls
  mode tcp
  bind 0.0.0.0:6380 ssl crt /etc/haproxy/server.pem ca-file /etc/haproxy/ca.crt verify required
  tcp-request inspect-delay 5s
  tcp-request content accept if { req.ssl_hello_type 1 }
  default_backend dragonfly

frontend redis_plain
  mode tcp
  bind 0.0.0.0:6381 
  tcp-request inspect-delay 5s
  default_backend dragonfly
  
backend dragonfly
  mode tcp
  option tcp-check
  default-server inter 2s fall 3 rise 2
  server dragonfly_local 127.0.0.1:6379 check
